/* CSS HEX */
--deep-space-blue: #1d3656ff;
--scarlet-fire: #ff3621ff;
--black: #000000ff;
--dark-teal: #003939ff;
--wine-plum: #783343ff;

/* CSS HSL */
--deep-space-blue: hsla(214, 50%, 23%, 1);
--scarlet-fire: hsla(6, 100%, 56%, 1);
--black: hsla(0, 0%, 0%, 1);
--dark-teal: hsla(180, 100%, 11%, 1);
--wine-plum: hsla(346, 40%, 34%, 1);

/* SCSS HEX */
$deep-space-blue: #1d3656ff;
$scarlet-fire: #ff3621ff;
$black: #000000ff;
$dark-teal: #003939ff;
$wine-plum: #783343ff;

/* SCSS HSL */
$deep-space-blue: hsla(214, 50%, 23%, 1);
$scarlet-fire: hsla(6, 100%, 56%, 1);
$black: hsla(0, 0%, 0%, 1);
$dark-teal: hsla(180, 100%, 11%, 1);
$wine-plum: hsla(346, 40%, 34%, 1);

/* SCSS RGB */
$deep-space-blue: rgba(29, 54, 86, 1);
$scarlet-fire: rgba(255, 54, 33, 1);
$black: rgba(0, 0, 0, 1);
$dark-teal: rgba(0, 57, 57, 1);
$wine-plum: rgba(120, 51, 67, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-right: linear-gradient(90deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-bottom: linear-gradient(180deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-left: linear-gradient(270deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-top-right: linear-gradient(45deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-bottom-right: linear-gradient(135deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-top-left: linear-gradient(225deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-bottom-left: linear-gradient(315deg, #1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);
$gradient-radial: radial-gradient(#1d3656ff, #ff3621ff, #000000ff, #003939ff, #783343ff);