PORT=4008
NODE_ENV=development
DATABASE_PATH=user-identity.db
JWT_ISSUER=constitutionalerp-user-identity
JWT_AUDIENCE=constitutionalerp-clients
JWT_SIGNING_SECRET=change-me-signing-secret
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=604800
ADMIN_SECRET=change-me-admin-secret
COOKIE_DOMAIN=
COOKIE_SECURE=false
OAUTH_MOCK_ENABLED=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4008/auth/callback/google
GOOGLE_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USERINFO_URL=https://openidconnect.googleapis.com/v1/userinfo
GOOGLE_SCOPES=openid email profile
GOOGLE_JWKS_URL=https://www.googleapis.com/oauth2/v3/certs
GOOGLE_EXPECTED_ISSUER=https://accounts.google.com
GOOGLE_EXPECTED_ISSUER_PREFIX=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=http://localhost:4008/auth/callback/microsoft
MICROSOFT_AUTHORIZATION_URL=https://login.microsoftonline.com/common/oauth2/v2.0/authorize
MICROSOFT_TOKEN_URL=https://login.microsoftonline.com/common/oauth2/v2.0/token
MICROSOFT_USERINFO_URL=https://graph.microsoft.com/oidc/userinfo
MICROSOFT_SCOPES=openid email profile
MICROSOFT_JWKS_URL=https://login.microsoftonline.com/common/discovery/v2.0/keys
MICROSOFT_EXPECTED_ISSUER=
MICROSOFT_EXPECTED_ISSUER_PREFIX=https://login.microsoftonline.com/
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URI=http://localhost:4008/auth/callback/apple
APPLE_AUTHORIZATION_URL=https://appleid.apple.com/auth/authorize
APPLE_TOKEN_URL=https://appleid.apple.com/auth/token
APPLE_USERINFO_URL=
APPLE_SCOPES=name email
APPLE_JWKS_URL=https://appleid.apple.com/auth/keys
APPLE_EXPECTED_ISSUER=https://appleid.apple.com
APPLE_EXPECTED_ISSUER_PREFIX=
